<footer class="main-footer">
    <div class="footer-container">
      <div class="footer-cols">
        <div class="footer-col">
          <h4>ABOUT US</h4>
          <ul>
            <li><a href="contact.html">About Mythos</a></li>
            <li><a href="#">Office Locations</a></li>
            <li><a href="#">Success Stories</a></li>
          </ul>
        </div>
  
        <div class="footer-col">
          <h4>SERVICES</h4>
          <ul>
            <li><a href="work.html">Work Abroad</a></li>
            <li><a href="study.html">Study Abroad</a></li>
            <li><a href="#">Business Setup</a></li>
            <li><a href="#">Resume Check</a></li>
          </ul>
        </div>
  
        <div class="footer-col">
          <h4>BLOGS</h4>
          <ul>
            <li><a href="#">UK Immigration News</a></li>
            <li><a href="#">Job Tips</a></li>
            <li><a href="#">Study Abroad Stories</a></li>
            <li><a href="#">Resume Advice</a></li>
          </ul>
        </div>
  
        <div class="footer-col">
          <h4>CONTACT US</h4>
          <p>🇬🇧 United Kingdom</p>
          <p>+44 746 864 7065</p>
          <p>queries@mythosconsulting.org</p>
          
        </div>
      </div>
  
      <div class="footer-bottom">
        <p>&copy; 2025 Mythos Global. All rights reserved.</p>
      </div>
    </div>
  </footer>