<!-- Top Contact + Auth Bar -->
<div class="topbar">
  <div class="container topbar-flex">
    <div class="topbar-left">
      <span><img src="https://img.icons8.com/ios-filled/16/phone.png" alt="Phone" /> +44 735 231 1825</span>
      <a href="https://wa.me/447352311825" target="_blank">
        <img src="https://img.icons8.com/color/24/000000/whatsapp--v1.png" alt="WhatsApp" />
        0735 231 1825
      </a>
    </div>
    <div class="topbar-right">
      <a href="contact.html">Contact Us</a>
    </div>
  </div>
</div>

  <!-- Brand & Service Menu -->
  <div class="brandbar">
    <div class="container brand-nav">
      <div class="logo-wrapper">
        <a href="index.html">
          <img src="images/c.JPG" alt="Mythos Logo" class="brand-logo" />
        </a>
      </div>
      <nav class="service-menu">
        <a class="tab red" href="free-eligibility-check.html">Free Eligibility Check</a>
        <a class="tab blue" href="work.html">Work</a>
        <a class="tab orange" href="study.html">Study</a>
        <a class="tab green" href="consulting.html">Talk to an Expert</a>
        <!-- 
        <a class="tab darkblue" href="#">Business Setup</a>
        -->
      </nav>
    </div>
  </div>
  