
<div id="loginModal" class="modal">
    <div class="modal-content login-box">
      <span class="close-btn" onclick="closeLoginModal()">&times;</span>
      <h2>Login</h2>
      <p class="subtitle">With your social network</p>
  
      <div class="social-icons">
        <img src="https://img.icons8.com/color/48/linkedin.png" alt="LinkedIn" />
        <img src="https://img.icons8.com/color/48/google-logo.png" alt="Google" />
      </div>
  
      <div class="divider"><span>or</span></div>
      <div class="form-wrapper">
        <input type="text" placeholder="Username" />
        <input type="password" id="loginPassword" placeholder="Password" />
      
        <div class="checkbox-left">
          <label>
            <input type="checkbox" onclick="togglePassword()" />
            Show Password
          </label>
        </div>     
      </div>
      
      <button class="submit-btn">Sign in</button>
  
      <div class="link-row">
        <a href="#">Forgot Password?</a><br />
        <a href="#">Don't have an account? Create one now.</a>
      </div>
  
      <hr class="divider-line" />
  
      <div class="support-text">
        <p>Need some help?<br />
        Talk to us at +91 7670800001</p>
      </div>
    </div>
  </div>
  
  
  